body {
  background: linear-gradient(
    180deg,
    rgb(249, 97, 8) 0%,
    rgb(255, 255, 255) 30%
  );
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  margin: 25px auto;
  padding-top: 25px;
}
h2 {
  padding-bottom: 15px;
}
ul {
  padding-top: 30px;
  list-style: none;
  margin: auto;
  text-align: center;
}
li {
  margin: 5px 10px;
  padding: 5px 10px;
  font-size: 20px;
  display: inline-block;
}

footer {
  display: block;
  float: left;
  padding-bottom: 30px;
}

.slogan {
  font-size: 25px;
}
.orderButton {
  background: #f96108;
  box-shadow: 8px 8px 30px 0 rgb(249 97 8 / 35%);
  border-radius: 0 35px 35px 35px;
  border: none;
  width: 190px;
  height: 45px;
  margin-top: 20px;
  font-family: PTSans-Caption;
  font-size: 18px;
  color: #fff;
  text-align: center;
  transition: all 200ms ease-in-out;
}
.orderButton:hover {
  background: white;
  color: #f96108;
}
.shoppingButton {
  display: inline;
  margin: 0px 5% 0px 90%;
  border: dotted;
  background-color: white;
  border-radius: 50%;
  padding: 6px 10px;
  font-size: 40px;

  box-shadow: 5px 5px 10px rgba(21, 48, 123, 0.2);
  transition: all 200ms ease-in-out;
}
.shoppingButton:hover {
  border: solid;
}

.viewAll {
  display: block;
  margin: 70px 45%;
  font-size: 25px;
}
.productLine {
  border-color: gray;
  border: dashed;
  font-size: 35px;
  border-radius: 50%;
  margin: 10px 10px;
  padding: 1.8px 10px;
  background-color: white;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.productLine:hover {
  border: solid;
  background-color: rgb(235, 97, 29, 0.9);
  box-shadow: 5px 5px 10px rgba(21, 48, 123, 0.2);
}

.row {
  font-size: 25px;
}
.col {
  text-align: center;
}
.productPrice {
  border-color: gray;
  border: dashed;
  font-size: 20px;
  border-radius: 50%;
  margin: 10px 10px;
  padding: 10px 7px;
  background-color: white;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.productPrice:hover {
  border: solid;
  border-color: rgb(235, 97, 29, 0.9);
  background-color: rgb(235, 97, 29, 0.9);
  color: white;
  box-shadow: 5px 5px 10px rgba(21, 48, 123, 0.2);
}
.footerLogo {
  float: left;
  margin-right: 30px;
  padding-bottom: 30px;
}
.link {
  color: black;
  text-decoration: none;
}
.linkProfile {
  color: #f96108;
  text-decoration: none;
}
